.home-container {
    display: flex;
    .europe{
        width: 90%;
        min-height: calc(100vh  - 80px);
        border-right: 2px solid #0083D0;
        padding: 20px 40px;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
                text-transform: uppercase;
                font-weight: bold;
                border-left: 2px solid #0083D0;
                padding-left: 10px;
            }
            .view-all {
                color:#0083D0;
                cursor: pointer;
            }

        }
    }
    .asia{
        width: 75%;
        min-height: calc(100vh  - 80px);
        border-right: 1px solid #0083D0;
        padding: 20px 40px;
    }
}